:root {
    --bs-dark-bg-subtle: #4c4b4b46;
}

.hidden-cell {
    display: none;
}

#net-status {
    width: 16px;
}

#net-status i {
    font-size: 11px;
}

#tag-name {
    border: 2px solid red;
    width: 100px;
}